@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

//COLOR KODE
$background: #fafafa;
$main-color: #688aa5;
$hover: #b0cee6;
$headText: #2c2525;
$text: #363636;
$color-darkblue: #59758d;

//FONTS
$headFont: 'Lobster', cursive;


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 780px;
$mobile: 580px;

