@import '../../../assets/Helpers/mixin';
@import '../../../assets/Helpers/variabler';

.loginform, .logout{
 label{ margin-left: 25%;}   
input {
    margin-left: 25%;
    margin-bottom: 10px;
    padding: 5px 5px;
    display: block;
    width: 55%;
    height: 35px;
    border: none;
    background-color: #fff;

}
 
//Style af knapper
button {
    margin-left: 40%;
    margin-bottom: 1em;
    width: 20%;
    color: #fff;
    border: none;
     padding: 0.7em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
     background-color: $main-color;
     &:hover{
        background-color: $hover;
    }
}
}



