@import './assets/Helpers/variabler';
@import './assets/Helpers/mixin';

body{
background-color: $background;

aside{
    
    display: flex;
	justify-content: center;
    display: flex;
   
	@media screen and (max-width: $mobile){
        display: block;
        
    }
}
section{
    margin: 0 10%;
}
h2{
    @include h2;
}
p{
    @include text;
}
}
